#bar {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 

  padding: 10px 20px;
  background-color: #333;
  color: rgb(255, 255, 255);
  height: 80px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;
}

.navigation {
  display: none;
  gap: 20px;
}

.header-buttons {
  display: none;
  gap: 12px;
}

.admin-button {
  color: #848484;  
  background-color: transparent;
  border: 1px solid #848484;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  gap: 20px;
  background-color: rgba(27, 27, 27, 0.95);
  backdrop-filter: blur(20px);
  color: white;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  padding: 40px;
  padding-top: 80px;

  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;

  transition: transform 0.45s ease, opacity 0.3s ease;
  z-index: 999;
}

.mobile-menu.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

#xmark {
  position: absolute;
  top: 30px;
  right: 20px;
  color: #D12126;
  cursor: pointer;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.3s ease;
}

.mobile-menu.open a {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.mobile-dropdown-title {
  cursor: pointer;
}

.mobile-submenu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 10px;

  max-height: 0;
  opacity: 0;
  overflow: hidden;

  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.mobile-submenu.open {
  max-height: 120px;
  opacity: 1;
}

.mobile-submenu a {
  font-size: 1.2rem;
  color: #cfcfcf;
}

@media (min-width: 1024px){
  .navigation{
    display: flex;
  }

  .header-buttons{
    display: flex;
  }

  #bar{
    display: none;
  }

  .header{
    justify-content: space-evenly;
    gap: 60px;
  }

}